---
import SiteHeaderInteractive from './SiteHeaderInteractive';

const path = Astro.url.pathname;
---

<header class="site-header shell">
  <a class="wordmark" href="/" aria-label="回到首頁">WILL CHENG</a>
  <SiteHeaderInteractive client:load path={path} />
</header>
